/* Box model */
* {
    box-sizing: border-box;
}


/*********************/
/* Base styles */
/*********************/

body {
    font: 62.5% 'IBM Plex Sans', sans-serif;
    color: #303031;
    background: #e4e4e4;
}

main {
    margin: 20vh auto 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    white-space: pre-line;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #e4e4e4;
}
p {
    font-size: 1.4rem;
    font-weight: 400;
}


/*********************/
/* Additional styles */
/*********************/

.profile, 
.portfolio, 
.credits {
    max-width: 768px;
    margin: 0 auto;
    padding: .5rem;
}

.intro {
    padding-top: .8rem;
}

a.gitHub, 
a.twitter {
    text-decoration: none;
}

a.gitHub {
    color: rgb(185, 50, 50);
}

a.twitter {
    color: #1f5cdf;
}

a.links {
    color: inherit;
    text-decoration: none;
}

.portfolio{
    margin-top: 10vh;
}

.portfolio > h2 {
    margin-bottom: 1rem;
}

.workList {
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;
}

.workItems {
    color: rgb(209, 209, 209);
    background: #303031;
    border-radius: .5rem;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
}

.workImage {
    display: none;
}

.workItems > p {
    font-size: 1.15rem;
    padding: 1rem;
}

#banhMi {
    border-left: .3rem solid #FF5D5D;
}

#marsDeep {
    border-left: .3rem solid #76BA99;
}

@media (min-width: 1921px){
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    p {
        font-size: 2.4rem;
    }
    .workItems > h3 {
        font-size: 2rem;
    }
    .workItems > p {
        font-size: 1.4rem;
    }
}

@media (min-width: 678px){
    h3 {
        width: 65%;
    }
    .workList {
        flex-flow: column nowrap;
    }
    .workItems {
        flex-wrap: wrap;
        transition: all .2s ease-in-out;
    }
    .workImage {
        display: block;
        background-size: cover;
        border-radius: .3rem 0 0 .3rem;
        width: 25%;
        height: 100%;
        filter: brightness(75%);
        transition: all .2s ease-in-out;
    }
    #banhMi, #marsDeep {
        border-left: none;
    }
    #banhMi .workImage {
        background-image: url('assets/banhmi.jpg');
        background-position: -1.5rem 0;
        background-repeat: no-repeat;
        border-right: .4rem solid #FF5D5D;
    }
    #marsDeep .workImage {
        background-image: url('assets/210126132850-mars-landing-rover-animation.jpg');
        background-position: -8rem 0;
        background-repeat: no-repeat;
        border-right: .4rem solid #76BA99;
    }
    .workItems:hover {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.35);
        background-color: #222222d5;
        background-blend-mode: multiply;
        transform: translate(5px, -5px);
    }
    .workItems:hover .workImage {
        filter: brightness(85%);
    }
    .workItems > p {
        width: 75%;
        white-space: wrap;
    }
}

@media (prefers-color-scheme: dark){
    body {
        color: rgb(209, 209, 209);
        background: #303031;
    }
    h3 {
        border-bottom: 1px solid #404041;
    }
    a.gitHub {
        color: rgb(255, 102, 102);
    }
    a.twitter {
        color: #1da1f2;
    } 
    .workItems {
        background: #222222;
    }
    @media (min-width: 768px){
        .workItems:hover {
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.50);
            background: #22222280;
        }
    }
}